/node_modules
/vendor
.env
.env.local
*.log
.DS_Store
.idea
.vscode
src/storage/*.key
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/bootstrap/cache/*
!src/bootstrap/cache/.gitignore
frontend-vue/dist
frontend-vue/node_modules
composer.phar
